@using EPAM.RDPreEducationPortal.Web.Site.EntityFramework
@model EPAM.RDPreEducationPortal.Web.Site.EntityFramework.HRAssessment
@{
    ViewBag.Title = "Technical Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new EpamRDPreEducationEntities();
}

@*<h2>EPAM - Candidate Evaluation Form</h2>*@
@*<hr />*@
<div class="row">
    <div class="col-md-2">
        <div class="card">
            @{
                var firstRoundMarks = db.Candidate_Marks.FirstOrDefault(x => x.CandidateID == Model.StudentID && x.RoundType == "FirstRound");
                var secondRoundMarks = db.Candidate_Marks.FirstOrDefault(x => x.CandidateID == Model.StudentID && (x.RoundType == "SecondRound"|| x.RoundType == "Direct"));
                var cd = db.Candidate_Details.Find(Model.StudentID);
                var assessmentType = "";
                if (cd.IsPEPStudent == true)
                {
                    assessmentType = "PEP Student";
                }
                if (cd.IsCodathonWinner == true)
                {
                    assessmentType = "PEP Codefest Winner";
                }
                if (db.Candidate_Marks.FirstOrDefault(x => x.CandidateID == Model.StudentID && (x.RoundType == "Direct")) != null)
                {
                    assessmentType = "Direct Second Round";
                }
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bold ">Name : <span class="bright-red-color">@cd.CandidateName</span></li>
                    @if (assessmentType != "")
                    {
                        <li class="list-group-item bold" >Remarks : <span style="color:Red;">@assessmentType</span> </li>
                    }
                    <li class="list-group-item bold">Technical Interviewer : <span style="color:#77CED9;">@db.TechnicalAssessments.FirstOrDefault(x => x.StudentID == Model.StudentID).LastEditedBy</span></li>
                    @if (secondRoundMarks != null)
                    {
                        <li class="list-group-item bold">Round 2 Marks</li>
                        <li class="list-group-item">
                            MCQ's :
                            <span class="green-color bold">@secondRoundMarks.MCQs/20</span>
                        </li>
                        <li class="list-group-item">
                            Coding Challenge-1 :
                            <span class="green-color bold">@secondRoundMarks.CodingChallenge1/30</span>
                        </li>
                        <li class="list-group-item">
                            Coding Challenge-2 :
                            <span class="green-color bold">@secondRoundMarks.CodingChallenge2/50</span>
                        </li>
                        <li class="list-group-item bold" style="background-color:#C9DB48;color:#000">
                            Total :
                            <span class="bold">@(secondRoundMarks.MarksScored )/ 100</span>
                        </li>
                    }
                    @if (firstRoundMarks != null)
                    {
                        <li class="list-group-item bold">Round 1 Marks</li>
                        <li class="list-group-item">
                            Coding Challenge-1 :
                            <span class="green-color bold">@firstRoundMarks.CodingChallenge1/20</span>
                        </li>
                        <li class="list-group-item">
                            Coding Challenge-2 :
                            <span class="green-color bold">@firstRoundMarks.CodingChallenge2/30</span>
                        </li>
                        <li class="list-group-item">
                            Coding Challenge-3 :
                            <span class="green-color bold">@firstRoundMarks.CodingChallenge3/50</span>
                        </li>
                        <li class="list-group-item bold" style="background-color:#C9DB48;color:#000">
                            Total :
                            <span class="bold">@(firstRoundMarks.MarksScored )/ 100</span>
                        </li>
                    }
                </ul>
            }
        </div>
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item bold">
                    Rating Scale:
                </li>
                <li class="list-group-item" style="color:forestgreen">
                    5.   Outstanding
                </li>
                <li class="list-group-item" style="color:lightseagreen">
                    4.   Excellent-exceeds requirements
                </li>
                <li class="list-group-item" style="color:orange">
                    3.   Competent—acceptable proficiency
                </li>
                <li class="list-group-item" style="color:orangered">
                    2.   Below Average—Does not meet requirements
                </li>
                <li class="list-group-item" style="color:red">
                    1.   Unable to determine or not applicable to this candidate
                </li>
            </ul>
        </div>
    </div>

    <div class="riskPadding col-md-10">
        <div class="row">
            <div class="">
                <div class="board-inner">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active">
                            <a href="#home" data-toggle="tab" title="Technical Feedback">
                                <span class="round-tabs one">
                                    @*<i class="glyphicon glyphicon-home"></i>*@
                                    <img src="~/Content/Images/Icons/icons8-meeting-room-50.png" />
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#profile" data-toggle="tab" title="Second Round Coding Report">
                                <span class="round-tabs two">
                                    @*<i class="glyphicon glyphicon-user"></i>*@
                                    <img src="~/Content/Images/Icons/icons8-business-report-48.png" style="width:50px;height:50px" />
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#doner" data-toggle="tab" title="1 st Round Coding Report">
                                <span class="round-tabs five">
                                    <img src="~/Content/Images/Icons/icons8-report-file-64.png" style="width:50px;height:50px" />
                                    @*<i class="glyphicon glyphicon-ok"></i>*@
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#messages" data-toggle="tab" title="Resume">
                                <span class="round-tabs three">
                                    @*<i class="glyphicon glyphicon-gift"></i>*@
                                    <img src="~/Content/Images/Icons/icons8-resume-100.png" style="width:50px;height:50px" />
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#settings" data-toggle="tab" title="Previous Technical Feedback">
                                <span class="round-tabs four">
                                    @*<i class="glyphicon glyphicon-comment"></i>*@
                                    <img src="~/Content/Images/Icons/icons8-technical-support-100.png" style="width:50px;height:50px" />
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="home">
                        @using (Html.BeginForm())
                        {
                            @Html.HiddenFor(model => model.StudentID)
                            @Html.HiddenFor(model => model.TestId)
                            @Html.HiddenFor(model => model.HRAssessmentID)
                            <h3 class="head text-center">EPAM - HR Candidate Evaluation Form</h3>
                            if (!string.IsNullOrEmpty(Model.SuccessMessage))
                            {
                                <div class="alert alert-success" role="alert">
                                    <strong>Well done!</strong> @Model.SuccessMessage.
                                </div>
                            }
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label>Presentation Skills<font color="red">*</font></label>
                                    <div class="form-check form-check-inline">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.PresentationSkills, 1) 1
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.PresentationSkills, 2) 2
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.PresentationSkills, 3) 3
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.PresentationSkills, 4) 4
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.PresentationSkills, 5) 5
                                        </label>
                                    </div>

                                    <span id="errDivPresentationSkills" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Presentation Skills
                                    </span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Professional Impression<font color="red">*</font></label>
                                    <div class="form-check form-check-inline">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.ProfessionalImpression, 1) 1
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.ProfessionalImpression, 2) 2
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.ProfessionalImpression, 3) 3
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.ProfessionalImpression, 4) 4
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.ProfessionalImpression, 5) 5
                                        </label>
                                    </div>
                                    <span id="errDivProfessionalImpression" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Professional Impression
                                    </span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Stress Tolerance<font color="red">*</font></label>
                                    <div class="form-check form-check-inline">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.StressTolerance, 1) 1
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.StressTolerance, 2) 2
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.StressTolerance, 3) 3
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.StressTolerance, 4) 4
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.StressTolerance, 5) 5
                                        </label>
                                    </div>
                                    <span id="errDivStressTolerance" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Stress Tolerance
                                    </span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Decision Making<font color="red">*</font></label>
                                    <div class="form-check form-check-inline">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.DecisionMaking, 1) 1
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.DecisionMaking, 2) 2
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.DecisionMaking, 3) 3
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.DecisionMaking, 4) 4
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.DecisionMaking, 5) 5
                                        </label>
                                    </div>
                                    <span id="errDivDecisionMaking" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Decision Making
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label>Self Management<font color="red">*</font></label>
                                    <div class="form-check form-check-inline">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.SelfManagement, 1) 1
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.SelfManagement, 2) 2
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.SelfManagement, 3) 3
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.SelfManagement, 4) 4
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.SelfManagement, 5) 5
                                        </label>
                                    </div>
                                    <span id="errDivSelfManagement" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Self Management
                                    </span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Communication Interpersonal Skills<font color="red">*</font></label>
                                    <div class="form-check form-check-inline">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.CommunicationInterpersonalSkills, 1) 1
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.CommunicationInterpersonalSkills, 2) 2
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.CommunicationInterpersonalSkills, 3) 3
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.CommunicationInterpersonalSkills, 4) 4
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.CommunicationInterpersonalSkills, 5) 5
                                        </label>
                                    </div>
                                    <span id="errDivCommunicationInterpersonalSkills" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Communication Interpersonal Skills
                                    </span>
                                </div>

                                <div class="form-group col-md-3">
                                    <label>Learnability<font color="red">*</font></label>
                                    <div class="form-check form-check-inline">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Learnability, 1) 1
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Learnability, 2) 2
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Learnability, 3) 3
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Learnability, 4) 4
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Learnability, 5) 5
                                        </label>
                                    </div>
                                    <span id="errDivLearnability" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Learnability
                                    </span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Organizational Fit<font color="red">*</font></label>
                                    <div class="form-check form-check-inline">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.OrganizationalFit, 1) 1
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.OrganizationalFit, 2) 2
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.OrganizationalFit, 3) 3
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.OrganizationalFit, 4) 4
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.OrganizationalFit, 5) 5
                                        </label>
                                    </div>
                                    <span id="errDivOrganizationalFit" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Organizational Fit
                                    </span>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <h3 class="head text-center">EPAM PERSONALITY on a scale of 5, 5 being the best</h3>
                                <div class="form-group col-md-3">
                                    <label>Creative</label>
                                    <div class="form-check form-check-inline">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Creative, 1) 1
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Creative, 2) 2
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Creative, 3) 3
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Creative, 4) 4
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Creative, 5) 5
                                        </label>
                                    </div>
                                    <span id="errDivCreative" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Creative
                                    </span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Expert</label>
                                    <div class="form-check form-check-inline">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Expert, 1) 1
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Expert, 2) 2
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Expert, 3) 3
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Expert, 4) 4
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Expert, 5) 5
                                        </label>
                                    </div>
                                    <span id="errDivExpert" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Expert
                                    </span>
                                </div>

                                <div class="form-group col-md-3">
                                    <label>Original</label>
                                    <div class="form-check form-check-inline">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Original, 1) 1
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Original, 2) 2
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Original, 3) 3
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Original, 4) 4
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Original, 5) 5
                                        </label>
                                    </div>
                                    <span id="errDivOriginal" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Original
                                    </span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Candid</label>
                                    <div class="form-check form-check-inline">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Candid, 1) 1
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Candid, 2) 2
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Candid, 3) 3
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Candid, 4) 4
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Candid, 5) 5
                                        </label>
                                    </div>
                                    <span id="errDivCandid" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Candid
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label>Intelligent</label>
                                    <div class="form-check form-check-inline">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Intelligent, 1) 1
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Intelligent, 2) 2
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Intelligent, 3) 3
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Intelligent, 4) 4
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Intelligent, 5) 5
                                        </label>
                                    </div>
                                    <span id="errDivIntelligent" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Intelligent
                                    </span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Driven</label>
                                    <div class="form-check form-check-inline">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Driven, 1) 1
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Driven, 2) 2
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Driven, 3) 3
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Driven, 4) 4
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Driven, 5) 5
                                        </label>
                                    </div>
                                    <span id="errDivDriven" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Driven
                                    </span>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <h3 class="head text-center">EPAM VALUES</h3>
                                <div class="form-group col-md-3">
                                    <label>Value The Individual</label>
                                    <div class="form-check form-check-inline">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.ValueTheIndividual, 1) 1
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.ValueTheIndividual, 2) 2
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.ValueTheIndividual, 3) 3
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.ValueTheIndividual, 4) 4
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.ValueTheIndividual, 5) 5
                                        </label>
                                    </div>
                                    <span id="errDivValueTheIndividual" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Value The Individual
                                    </span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Focus On Customer</label>
                                    <div class="form-check form-check-inline">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.FocusOnCustomer, 1) 1
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.FocusOnCustomer, 2) 2
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.FocusOnCustomer, 3) 3
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.FocusOnCustomer, 4) 4
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.FocusOnCustomer, 5) 5
                                        </label>
                                    </div>
                                    <span id="errDivFocusOnCustomer" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Focus On Customer
                                    </span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Act As A Team</label>
                                    <div class="form-check form-check-inline">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.ActAsATeam, 1) 1
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.ActAsATeam, 2) 2
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.ActAsATeam, 3) 3
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.ActAsATeam, 4) 4
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.ActAsATeam, 5) 5
                                        </label>
                                    </div>
                                    <span id="errDivActAsATeam" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Act As ATeam
                                    </span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Strive For Excellence</label>
                                    <div class="form-check form-check-inline">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.StriveForExcellence, 1) 1
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.StriveForExcellence, 2) 2
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.StriveForExcellence, 3) 3
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.StriveForExcellence, 4) 4
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.StriveForExcellence, 5) 5
                                        </label>
                                    </div>
                                    <span id="errDivStriveForExcellence" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Strive For Excellence
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label>Act With Integrity</label>
                                    <div class="form-check form-check-inline">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.ActWithIntegrity, 1) 1
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.ActWithIntegrity, 2) 2
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.ActWithIntegrity, 3) 3
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.ActWithIntegrity, 4) 4
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.ActWithIntegrity, 5) 5
                                        </label>
                                    </div>
                                    <span id="errDivActWithIntegrity" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Act With Integrity
                                    </span>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label>Humble</label>
                                    <div class="form-check form-check-inline">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Humble, 1) 1
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Humble, 2) 2
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Humble, 3) 3
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Humble, 4) 4
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Humble, 5) 5
                                        </label>
                                    </div>
                                    <span id="errDivHumble" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Humble
                                    </span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Hungry</label>
                                    <div class="form-check form-check-inline">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Hungry, 1) 1
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Hungry, 2) 2
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Hungry, 3) 3
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Hungry, 4) 4
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Hungry, 5) 5
                                        </label>
                                    </div>
                                    <span id="errDivHungry" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Hungry
                                    </span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Smart</label>
                                    <div class="form-check form-check-inline">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Smart, 1) 1
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Smart, 2) 2
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Smart, 3) 3
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Smart, 4) 4
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.Smart, 5) 5
                                        </label>
                                    </div>
                                    <span id="errDivSmart" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Smart
                                    </span>
                                </div>

                            </div>

                            <hr />
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Significant Achievements<font color="red">*</font></label>
                                    @Html.TextArea("SignificantAchievements", null, new { @class = "form-control" })
                                    <span id="errDivSignificantAchievements" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Significant Achievements
                                    </span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Plans For Further Studies<font color="red">*</font></label>
                                    @Html.TextArea("PlansForFurtherStudies", null, new { @class = "form-control" })
                                    <span id="errDivPlansForFurtherStudies" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Plans For Further Studies
                                    </span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Career Plans<font color="red">*</font></label>
                                    @Html.TextArea("CareerPlans", null, new { @class = "form-control" })
                                    <span id="errDivCareerPlans" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Career Plans
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Overall Comments<font color="red">*</font></label>
                                    @Html.TextArea("OverallComments", null, new { @class = "form-control" })
                                    @*@Html.TextAreaFor(model => model.OverallComments, new { htmlAttributes = new { @class = "form-control", @rows = "3" } })*@
                                    <span id="errDivOverallComments" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Overall Comments
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Overall Rating (this rating will be used for hiring decision)<font color="red">*</font></label>
                                    <div class="form-check form-check-inline">
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.OverallRating, 1) 1
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.OverallRating, 2) 2
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.OverallRating, 3) 3
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.OverallRating, 4) 4
                                        </label>
                                        <label class="radio-inline">
                                            @Html.RadioButtonFor(model => model.OverallRating, 5) 5
                                        </label>
                                    </div>
                                    <span id="errDivOverallRating" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Overall Rating
                                    </span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>EPAM Fit<font color="red">*</font></label>
                                    <div class="form-check form-check-inline">
                                        <label class="radio-inline" style="margin-left: -19px;">
                                            @*<input type="checkbox" id="Recommendation" value="true"> Hire*@
                                            @Html.RadioButtonFor(model => model.Recommendation, true) Hire
                                        </label>
                                        <label class="radio-inline">
                                            @*<input type="checkbox" id="Recommendation" value="false"> Reject*@
                                            @Html.RadioButtonFor(model => model.Recommendation, false) Reject
                                        </label>

                                    </div>
                                    <span id="errDivRecommendation" class="field-validation-valid text-danger display-none" data-valmsg-for="Section1Rating" data-valmsg-replace="true">
                                        Please enter Recommendation
                                    </span>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Highly Recommended :</label>
                                    <div class="form-check form-check-inline">
                                        <label class="radio-inline" style="margin-left: -19px;">
                                            @*<input type="checkbox" id="Recommendation" value="true"> Hire*@
                                            @Html.CheckBox("HighlyRecommended", Model.HighlyRecommended)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <button type="button" id="btnSave" class="btn btn-info">Save</button>
                            <button type="button" id="btnSubmit" class="btn btn-success">Submit</button>
                        }
                    </div>
                    <div class="tab-pane fade" id="profile">
                        <h3 class="head text-center">Second Round Coding Report</h3>
                        @{
                            var candidate_Details = db.Candidate_Details.FirstOrDefault(x => x.CandidateID == Model.StudentID);
                            var resume = candidate_Details.CandidateResume;
                        }
                        <iframe style="border: 0" src="@candidate_Details.SecondRoundPublicReport" width="1200" height="800"></iframe>
                    </div>
                    <div class="tab-pane fade" id="doner">
                        <h3 class="head text-center">First Round Coding Report</h3>
                        <iframe style="border: 0" src="@candidate_Details.PublicReport" width="1200" height="800"></iframe>
                    </div>
                    <div class="tab-pane fade" id="messages">
                        <h3 class="head text-center">Resume </h3>
                        @if (resume != "N/A")
                        {
                            <iframe src="@resume" width="1200" height="800"></iframe>
                        }
                        else
                        {
                            <div>No Resume Found</div>
                        }
                    </div>
                    <div class="tab-pane fade" id="settings">
                        <h3 class="head text-center">Previous Technical Feedback</h3>
                        <p class="narrow text-center">
                            @Html.Action("DetailsPartialView", "TechnicalAssessments", new { id = Model.StudentID })
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    $(function () {
        $('a[title]').tooltip();
    });
    $("#btnSubmit").click(function () {
        var valid = true;
        if ($("input[type='radio'][name='PresentationSkills']:checked").length == 0) {
            $("#errDivPresentationSkills").slideDown('slow');
            valid = false;
        } else {
            $("#errDivPresentationSkills").hide();
        }
        if ($("input[type='radio'][name='ProfessionalImpression']:checked").length == 0) {
            $("#errDivProfessionalImpression").slideDown('slow');
            valid = false;
        } else {
            $("#errDivProfessionalImpression").hide();
        }
        if ($("input[type='radio'][name='StressTolerance']:checked").length == 0) {
            $("#errDivStressTolerance").slideDown('slow');
            valid = false;
        } else {
            $("#errDivStressTolerance").hide();
        }
        if ($("input[type='radio'][name='DecisionMaking']:checked").length == 0) {
            $("#errDivDecisionMaking").slideDown('slow');
            valid = false;
        } else {
            $("#errDivDecisionMaking").hide();
        }
        if ($("input[type='radio'][name='SelfManagement']:checked").length == 0) {
            $("#errDivSelfManagement").slideDown('slow');
            valid = false;
        } else {
            $("#errDivSelfManagement").hide();
        }
        if ($("input[type='radio'][name='CommunicationInterpersonalSkills']:checked").length == 0) {
            $("#errDivCommunicationInterpersonalSkills").slideDown('slow');
            valid = false;
        } else {
            $("#errDivCommunicationInterpersonalSkills").hide();
        }
        if ($("input[type='radio'][name='Learnability']:checked").length == 0) {
            $("#errDivLearnability").slideDown('slow');
            valid = false;
        } else {
            $("#errDivLearnability").hide();
        }
        if ($("input[type='radio'][name='OrganizationalFit']:checked").length == 0) {
            $("#errDivOrganizationalFit").slideDown('slow');
            valid = false;
        } else {
            $("#errDivOrganizationalFit").hide();
        }
        //if ($("input[type='radio'][name='Creative']:checked").length == 0) {
        //    $("#errDivCreative").slideDown('slow');
        //    valid = false;
        //} else {
        //    $("#errDivCreative").hide();
        //}
        //if ($("input[type='radio'][name='Expert']:checked").length == 0) {
        //    $("#errDivExpert").slideDown('slow');
        //    valid = false;
        //} else {
        //    $("#errDivExpert").hide();
        //}
        //if ($("input[type='radio'][name='Original']:checked").length == 0) {
        //    $("#errDivOriginal").slideDown('slow');
        //    valid = false;
        //} else {
        //    $("#errDivOriginal").hide();
        //}
        //if ($("input[type='radio'][name='Candid']:checked").length == 0) {
        //    $("#errDivCandid").slideDown('slow');
        //    valid = false;
        //} else {
        //    $("#errDivCandid").hide();
        //}
        //if ($("input[type='radio'][name='Intelligent']:checked").length == 0) {
        //    $("#errDivIntelligent").slideDown('slow');
        //    valid = false;
        //} else {
        //    $("#errDivIntelligent").hide();
        //}
        //if ($("input[type='radio'][name='Driven']:checked").length == 0) {
        //    $("#errDivDriven").slideDown('slow');
        //    valid = false;
        //} else {
        //    $("#errDivDriven").hide();
        //}
        //if ($("input[type='radio'][name='ValueTheIndividual']:checked").length == 0) {
        //    $("#errDivValueTheIndividual").slideDown('slow');
        //    valid = false;
        //} else {
        //    $("#errDivValueTheIndividual").hide();
        //}
        //if ($("input[type='radio'][name='FocusOnCustomer']:checked").length == 0) {
        //    $("#errDivFocusOnCustomer").slideDown('slow');
        //    valid = false;
        //} else {
        //    $("#errDivFocusOnCustomer").hide();
        //}
        //if ($("input[type='radio'][name='ActAsATeam']:checked").length == 0) {
        //    $("#errDivActAsATeam").slideDown('slow');
        //    valid = false;
        //} else {
        //    $("#errDivActAsATeam").hide();
        //}
        //if ($("input[type='radio'][name='StriveForExcellence']:checked").length == 0) {
        //    $("#errDivStriveForExcellence").slideDown('slow');
        //    valid = false;
        //} else {
        //    $("#errDivStriveForExcellence").hide();
        //}
        //if ($("input[type='radio'][name='ActWithIntegrity']:checked").length == 0) {
        //    $("#errDivActWithIntegrity").slideDown('slow');
        //    valid = false;
        //} else {
        //    $("#errDivActWithIntegrity").hide();
        //}
        //if ($("input[type='radio'][name='Humble']:checked").length == 0) {
        //    $("#errDivHumble").slideDown('slow');
        //    valid = false;
        //} else {
        //    $("#errDivHumble").hide();
        //}
        //if ($("input[type='radio'][name='Hungry']:checked").length == 0) {
        //    $("#errDivHungry").slideDown('slow');
        //    valid = false;
        //} else {
        //    $("#errDivHungry").hide();
        //}
        //if ($("input[type='radio'][name='Smart']:checked").length == 0) {
        //    $("#errDivSmart").slideDown('slow');
        //    valid = false;
        //} else {
        //    $("#errDivSmart").hide();
        //}
        if ($("#SignificantAchievements").val().length == 0) {
            $("#errDivSignificantAchievements").slideDown('slow');
            valid = false;
        } else {
            $("#errDivSignificantAchievements").hide();
        }
        if ($("#PlansForFurtherStudies").val().length == 0) {
            $("#errDivPlansForFurtherStudies").slideDown('slow');
            valid = false;
        } else {
            $("#errDivPlansForFurtherStudies").hide();
        }
        if ($("#CareerPlans").val().length == 0) {
            $("#errDivCareerPlans").slideDown('slow');
            valid = false;
        } else {
            $("#errDivCareerPlans").hide();
        }
        if ($("#OverallComments").val().length == 0) {
            $("#errDivOverallComments").slideDown('slow');
            valid = false;
        } else {
            $("#errDivOverallComments").hide();
        }
        if ($("input[type='radio'][name='OverallRating']:checked").length == 0) {
            $("#errDivOverallRating").slideDown('slow');
            valid = false;
        } else {
            $("#errDivOverallRating").hide();
        }
        if ($("input[type='radio'][name='Recommendation']:checked").length == 0) {
            $("#errDivRecommendation").slideDown('slow');
            valid = false;
        } else {
            $("#errDivRecommendation").hide();
        }
        //if ($("#OverallRemarks").val().length == 0) {
        //    $("#errDivOverallRemarks").slideDown('slow');
        //    valid = false;
        //} else {
        //    $("#errDivOverallRemarks").hide();
        //}
        if (valid == true)
            $('form').submit();

        return false;
    });
    $("#btnSave").click(function () {
        $.ajax({
            type: "POST",
            url: "/HRAssessments/Save",
            data: $("form").serialize(),
            success: function (resultData) {
                $("#HRAssessmentID").val(resultData);
                $("#btnSubmit").notify(
                    "Draft feedback Saved successfully.",
                    { position: "right", className: "success" }
                );
            }
        });
    });
</script>
@*<style>
        .container {
            margin: 10px !important;
        }
    </style>*@